project          = "infra-273522"
public_key_path  = "~/.ssh/appuser.pub"
app_disk_image   = "reddit-app-base"
db_disk_image    = "reddit-db-base"
private_key_path = "~/.ssh/appuser"
zone             = "europe-west2-c"
region           = "europe-west2"
